Autor: Tatiana Massae Sakata

# Módulo Spark

## <a name="inicio"> Exercicios Aula 2 - Testando o Juyter Notebook </a>

* [Inicio](#inicio)
* [Questão 01](#questao01)
* [Questão 02](#questao02)
* [Questão 03](#questao03)
* [Questão 04](#questao04)
* [Questão 05](#questao05)
* [Questão 06](#questao06)
* [Questão 07](#questao07)
* [Questão 08](#questao08)
* [Questão 09](#questao09)
* [Questão 10](#questao10)
* [Questão 11](#questao11)

### <a name="questao01"> Questão 1 - Criar o arquivo do notebook com o nome teste_spark.ipynb </a>

[voltar ao ínicio](#inicio)

### <a name="questao02"> Questão 2 - Obter as informações da sessão de spark (spark) </a>

[voltar ao ínicio](#inicio)

In [1]:
import pyspark.sql
from pyspark.sql.functions import when, col,round
from pyspark.sql.types import StructType,StructField, StringType, IntegerType, DateType, TimestampType, DecimalType
from pyspark import SparkContext, SparkConf, SQLContext, HiveContext
from collections import namedtuple

### <a name="questao03"> Questão 3 - Obter as informações do contexto do spark (sc) </a>

[voltar ao ínicio](#inicio)

In [2]:
spark

In [3]:
sc

### <a name="questao04"> Questão 4 - Setar o log como INFO. </a>

[voltar ao ínicio](#inicio)

In [4]:
spark.sparkContext.setLogLevel("INFO")

NameError: name 'spark' is not defined

### <a name="questao05"> Questão 5 - Visualizar todos os banco de dados com o catalog </a>

[voltar ao ínicio](#inicio)

In [4]:
spark.catalog.listDatabases()

[Database(name='default', description='Default Hive database', locationUri='hdfs://namenode:8020/user/hive/warehouse')]

### <a name="questao06"> Questão 6 - Ler os dados "hdfs://namenode:8020/user/rodrigo/data/juros_selic/juros_selic.json“ com uso de Dataframe </a>

[voltar ao ínicio](#inicio)

In [5]:
!hdfs dfs -ls /user/tatiana/data/juros_selic/

Found 3 items
-rw-r--r--   3 root supergroup       8348 2022-11-10 13:18 /user/tatiana/data/juros_selic/juros_selic
-rw-r--r--   3 root supergroup      14621 2022-11-10 13:40 /user/tatiana/data/juros_selic/juros_selic.json
-rw-r--r--   3 root supergroup      13147 2022-11-10 13:18 /user/tatiana/data/juros_selic/juros_selic.wsdl

In [6]:
#!hdfs dfs -mkdir /user/tatiana/data/juros_selic/

In [7]:
#"hdfs://namenode:8020/user/tatiana/data/juros_selic/juros_selic.json"
#"hdfs:///user/tatiana/data/juros_selic/juros_selic.json"
#nesse caso não precisa mencionar o hdfs, namenode e a porta, pois a mesma já está configurada como default, 
#podemos utilizar as duas formas acima
#como estamos trabalhando com o ecossistema de big data, precisamos mencionar onde encontra-se o arquivo para leitura

leitura_juros1 = spark.read.json("/user/tatiana/data/juros_selic/juros_selic.json")
leitura_juros1.show(5)

+----------+-----+
|      data|valor|
+----------+-----+
|01/06/1986| 1.27|
|01/07/1986| 1.95|
|01/08/1986| 2.57|
|01/09/1986| 2.94|
|01/10/1986| 1.96|
+----------+-----+
only showing top 5 rows

### <a name="questao07"> Questão 7 - Salvar o Dataframe como juros no formato de tabela Hive </a>

[voltar ao ínicio](#inicio)

In [8]:
leitura_juros1.write.saveAsTable("juros1")

AnalysisException: 'Table `juros` already exists.;'

### <a name="questao08"> Questão 8 - Visualizar todas as tabelas com o catalog </a>

[voltar ao ínicio](#inicio)

In [1]:
spark.catalog.listTables()

[Table(name='juros', database='default', description=None, tableType='MANAGED', isTemporary=False),
 Table(name='juros1', database='default', description=None, tableType='MANAGED', isTemporary=False)]

### <a name="questao09"> Questão 9 - Visualizar no hdfs o formato e compressão que está a tabela juros do Hive </a>

[voltar ao ínicio](#inicio)

In [2]:
!hdfs dfs -ls /user/hive/warehouse/

Found 1 items
drwxr-xr-x   - root supergroup          0 2022-11-10 15:08 /user/hive/warehouse/juros1

### <a name="questao10"> Questão 10 - Ler e visualizar os dados da tabela juros, com uso de Dataframe no formato de Tabela Hive </a>

[voltar ao ínicio](#inicio)

In [3]:
spark.read.table('juros1').show()

+----------+-----+
|      data|valor|
+----------+-----+
|01/06/1986| 1.27|
|01/07/1986| 1.95|
|01/08/1986| 2.57|
|01/09/1986| 2.94|
|01/10/1986| 1.96|
|01/11/1986| 2.37|
|01/12/1986| 5.47|
|01/01/1987|11.00|
|01/02/1987|19.61|
|01/03/1987|11.95|
|01/04/1987|15.30|
|01/05/1987|24.63|
|01/06/1987|18.02|
|01/07/1987| 8.91|
|01/08/1987| 8.09|
|01/09/1987| 7.99|
|01/10/1987| 9.45|
|01/11/1987|12.92|
|01/12/1987|14.38|
|01/01/1988|16.78|
+----------+-----+
only showing top 20 rows

### <a name="questao11"> Questão 11 - Ler e visualizar os dados da tabela juros , com uso de Dataframe no formato Parquet </a>

[voltar ao ínicio](#inicio)

In [4]:
spark.read.parquet('/user/hive/warehouse/juros1').show(5)

+----------+-----+
|      data|valor|
+----------+-----+
|01/06/1986| 1.27|
|01/07/1986| 1.95|
|01/08/1986| 2.57|
|01/09/1986| 2.94|
|01/10/1986| 1.96|
+----------+-----+
only showing top 5 rows

Após encerrar as atividades, devemos dar um shutdown no arquivo, por que devemos uma unica sessão ativa do Spark.
Atenção, poderão dar erros nas aberturas de novas sessões.